<div class="row">
    <div class="col1">
        <h1 style="text-align: center; text-transform: uppercase;">Tipo Cliente</h1>
        <div class="button">
            <button mat-button color="primary" (click)="openModal()">Crear Nuevo</button>
        </div>
    </div>
    <div class="col2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Primer Apellido</th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <!-- acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="accent" (click)="openModal(element)">
                        Modificar
                    </button>
                    <button mat-button color="warn" (click)="elimiarTipoCliente(element.id)">
                        Eliminar
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-form-field class="formField" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput type="text" [(ngModel)]="filterValue" (keyup)="aplicarFiltro()" />
        </mat-form-field>
    </div>
</div>